/*general*/
div.sectionWrapper{
    clear: both;
    margin: 1em;
}

div.subsectionWrapper{
    clear: both;
}

.content{
    background-color: #FFFFFF;
    padding: 1em;
    margin: 1em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border-top: 2px solid #F39C12;
}

.hidden{
    display: none;
}

label{
    margin-right: 4px;
    margin-left: 2px;
}

/* Header & Footer */
div.branding{
    background-color: #367FA9;
    color: #F9F9F9;
    padding: 1em;
    clear: both;
}

div.header{
    margin-bottom: 1em;
}

div.header h1{
    margin: 0.67em 0em 0.67em 0em;
}

div.footer{
    margin-top: 1em;
    min-height: 10em;
}

div.footer a{
    color: #FFFFFF;
    text-decoration: underline;
}

/*parameters*/

input[type='range'].mixer{
    width: 40%;
    display: inline;
}

input[type='number'].mixer{
    width: 20%;
    display: inline;
}

div.warning{
    padding: 1em;
    margin-top: 1em;
    background-color: #F2DEDE;
}

.a2a4:invalid{
    box-shadow: none;
}

/*references*/
div.references{
    display: flex;
}